@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: white;
}

.home-bg {
  background: linear-gradient(180deg, #604ec1 5.09%, #121212 43.28%);
}
.single-page {
  background: linear-gradient(180deg, #def628 5.09%, #121212 43.28%);
}
.liked-page {
  background: linear-gradient(180deg, #604ec1 5.09%, #121212 43.28%);
}

.search-page {
  background: linear-gradient(180deg, #604e11 5.09%, #121212 43.28%);
}

.volume,
.slider,
.volume-track,
.slider-track{
  cursor: pointer !important;
}


::-webkit-scrollbar {
  display: none;
}
